body {
  margin: 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 8px;
}

svg {
  overflow: visible;
}

.bg_square {
  opacity: 0;
}

#banana,
#scallions,
#milk_carton {
  transform-origin: 50% 50%;
}
